body{
background-color: linen;
}
h1
{
color: brown;
text-align:center;
}
table,th,td
{
border:1px solid; background-color:lightblue;
}
table th
{
font-family:lucida handwriting;
border-color:black;
color:navy;
}
table td
{
border-color:black;
color:orange;
}
