table th td{
	border:1px solid black;
	border-collapse:collape
	
	 
	}

table td{
		background-color:#ff3399;
		color:#fff;
		font-weight:bold;
		padding:20px;
}
table th{

		background-color: #ffcc00;
		font-weight:bold;
		padding:20px;
		color: blue;
}




