body{
	background-image: url('https://www.w3schools.com/css/img_tree.png');
	background-repeat: no-repeat;
	background-position: center; 

}

label{
	font-size:20px;
	width:150px;
	}
.btn{
	font-size:20px;
	width:150px;
}
fieldset{
	width:450px;
}
.elements{
	margin:30px 0px
}
