body {
  background-color: powderblue;
}
h1 {
  color: red;
} 
table,td,th {
  width: 25%;
  border: 2px solid;
  background-color: pink;
  border-color: black;
}
th {
  text-align: center;
  color: blue;
}
a {
color :green;
}